<h1>New Artist Instrument</h1>

<%= form_for @artist_instrument do |f| %>
<%= f.collection_select :artist_id, @artists, :id, :name %>
  <%= f.collection_select :instrument_id, @instruments, :id, :name %>
  <%=submit_tag %>
<% end %>
